*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    /* font-family: 'Bebas Neue', cursive; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-brand{
    font-size: 24px;
    font-weight: 700;

}
#navbarNav a{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.btn{
    padding: 10px 25px;
    border: none;
    outline: none;
}
h5{
    font-weight: 700;
}

/************************** Header Section **************************/
.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    /* display: inline-block; */
    background-color:  rgba(10, 200, 247, 0.6);
    /* opacity: 0.6; */
}
/* header{
    background-color: red;
    top: 0;
    width: 100%;
    position: fixed;
} */
nav{
    /* background-color:  red; */
}
#banner-section{
    background-color: rgba(10, 212, 247, 0.6);
    border-radius: 0 0 0 250px;
}
/* .nav-right{
    margin-left: auto;
} */
.banner-img img
{
    height: 430px;
    
}
.feature-content{
    border-radius: 15px;
}
.feature-content img{
    width: 70px;
}

/************************** Features Section **************************/

#features-section{
    background: url("images/bg-features.png");
    background-position: center;
}

/*** New Arival Section with some style of Casual backpack section ****/

.card-content
{
    border-radius: 12px;
    overflow: hidden;
}
.card-img img{
    border-radius: 12px;
    transition: all 500ms;
}
.card-content:hover .card-img img{
    transform: scale(1.1);
}

/************************ Casual Backpack Section ************************/

#casualBacpack-section{
    background: url("images/bg-casual.png");
    background-size: cover;
    /* background-position: center; */
}
.card-hover{
    opacity: 0.5;
    transition: all 500ms;
}
.card-hover:hover{
    opacity: 1;
}

/************************* Travel Backpack Section *************************/

#travelBacpack-section{

}
.img-hover:hover .card-img img{
    transform: scale(0.9);
}

/***************************** Discount Section *****************************/
.img-custom img{
    border-radius: 10px 100px 10px 10px;
}
.card span{
    color: #fff;
    float: right;
    padding: 20px;
    background: red;
}

/****************************** Contact Section ******************************/

#contact-section{
    margin: auto;
    background: url("images/bg-contact.png");
    background-size: cover;
    background-position: center;
    /* background-color: red; */
}
.text-highlight{
    color: rgb(5, 243, 252);
}