*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* font-family: 'Bebas Neue', cursive; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn{
    padding: 10px 25px;
    border: none;
    outline: none;
}
h5{
    font-weight: 700;
}

/************************** Header Section **************************/

header{
    background-color: rgb(106, 27, 209);
    border-radius: 0 0 0 250px;
}
/* .nav-right{
    margin-left: auto;
} */
.banner-img img
{
    height: 450px;
    
}
.feature-content{
    border-radius: 15px;
}
.feature-content img{
    width: 70px;
}

/************************* New Arival Section *************************/

.card-content
{
    border-radius: 12px;
    overflow: hidden;
}
.card-img img{
    border-radius: 12px;
    transition: all 500ms;
}
.card-content:hover .card-img img{
    transform: scale(1.1);
}


